################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/cpms-app-next/v15/Server/sqlite3/storage.ide-wal
/.vs/cpms-app-next/v15/Server/sqlite3/storage.ide-shm
/.vs/cpms-app-next/v15/Server/sqlite3/storage.ide
/.vs/cpms-app-next/v15/Server/sqlite3/db.lock
/.vs/cpms-app-next/v15/.suo
/.vs/config/applicationhost.config
/.vs/cpms-app-next/DesignTimeBuild/.dtbcache
